{% extends "attendance_app/control_panel.html" %}

{% block content %}
  <p><a href="{% url 'event' event.id %}" class="back-link">Go Back</a></p>
  <div class="container">
    <h2 class="attendance_dashboard_h2">Add Day</h2>
  </div>

  <form method="post" action="{% url 'event' event.id %}" class="form-container">
    {% csrf_token %}
    <label>Enter Date</label>
    <input type="date" id="date" name="date">

    <button type="submit">Add</button>
  </form>

  <script>
        const today = new Date().toISOString().split('T')[0];

        document.getElementById('date').value = today;
  </script>

{% endblock content %}