{% extends "attendance_app/control_panel.html" %}

{% block content %}
    <section>
        <h2>Attendances today</h2>

        <h3>Morning:</h3>
        <ul>
            {% for record in morning %}
                <li>{{ record.student.student_id }} | {{ record.student.last_name }} | {{ record.student.first_name }} | {{ record.student.middle_name }} | {{ record.date_attended }}</li>
            {% empty %}
                <li>No attendances for morning.</li>
            {% endfor %}
        </ul>
        <br>
        <h3>Afternoon:</h3>
        <ul>
            {% for record in afternoon %}
                <li>{{ record.student.student_id }} | {{ record.student.last_name }} | {{ record.student.first_name }} | {{ record.student.middle_name }} | {{ record.date_attended }}</li>
            {% empty %}
                <li>No attendances for afternoon.</li>
            {% endfor %}
        </ul>
    </section>

{% endblock content %}
