<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System</title>
</head>
<body>
    <header>
        <h3>Attendance System</h3>
            {% if user.is_authenticated %}
                <p>Logged in as: {{ user.username }} | <a href="{% url 'logout' %}">Logout</a></p>
            {% else %}
                <p>You are not logged in. <a href="{% url 'index' %}">Login</a></p>
            {% endif %}
    </header>
    <hr>

    <p>
        <a href="{% url 'events' %}">Events</a> -
        <a href="{% url 'dashboard' %}">Attendance Dashboard</a> -
        <a href="{% url 'students' %}">Students</a>

    </p>
    <hr>


    {% block content %}
    {% endblock content %}

    <hr>
    <footer>
        <p>&copy; 2024 ESSU Attendance System. All Rights Reserved.</p>
    </footer>
</body>
</html>
