{% extends "attendance_app/control_panel.html" %}

{% block content %}
    <section>
        <h2>Attendance</h2>
        <p><a href="{% url 'attendance_today' %}">See attendances today</a></p>

        <h4>Attendances Log:</h4>
        <ul>
            {% for record in records %}
                <li>{{ record.student.student_id }} | {{ record.student.last_name }} | {{ record.student.first_name }} | {{ record.student.middle_name }} | {{ record.date_attended }}</li>
            {% empty %}
                <li>No attendance records available.</li>
            {% endfor %}
        </ul>
    </section>

{% endblock content %}
