{% extends "attendance_app/control_panel.html" %}

{% block content %}

    <p><a href="{%url 'attendance_app:devices' %}" class="back-link">Go back</a></p>

    <p class="all_logs_h4">Successfully deleted: {{device.name}}</p>
    <p class="all_logs_h4">Also deleted attendances associated with device:</p>

    <table class="table1">
        <thead>
            <tr>
                <th>Event/Subject Name</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{event.name}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="1">No attendances for this device</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}
