{% extends "attendance_app/control_panel.html" %}

{% block content %}
    <!-- {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div>
                    {{ message }}
                    <button onclick="this.parentElement.style.display='none';">&times;</button>
                </div>
            {% endfor %}
        </div>
    {% endif %} -->

    <p>
        <a href="{% url 'attendance_app:events' %}" class="back-link">Go Back</a>
        <button id="openModalBtn" class="back-link">Add New Date</button>
    </p>

    
    <div id="attendanceModal" class="modal" style="display: none;">
        <div class="modal-content">
          <span id="closeModalBtn" class="close">&times;</span>
          <h2 class="attendance_dashboard_h2">New Date to Attendance</h2>
          <form method="post" action="{% url 'attendance_app:event' event.id %}" class="form-container">
            {% csrf_token %}
            <label>Enter Date</label>
            <input type="date" id="date" name="date" required>
        
            <button type="submit">Add</button>
        </form>
        </div>
      </div>



    <h2 class="attendance_dashboard_h2">{{event.name}}</h2>




     <table class="table1">
        <thead>
            <tr>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for day in days %}
            <tr>
                <td>{{day.date}}</td>
                <td>
                    <a href="{% url 'attendance_app:attendance_for_today' day.id %}" class="view-btn">View</a>
                    <a href="{% url 'attendance_app:delete_day' day.id %}" class="view-btn">Remove</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No dates for this event</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% load static %}
    <script src="{% static 'attendance_app/js/modal.js' %}"></script>


{% endblock content %}
