{% extends "attendance_app/control_panel.html" %}

{% block content %}
    {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div>
                    {{ message }}
                    <button onclick="this.parentElement.style.display='none';">&times;</button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <p>
        <a href="{% url 'events' %}" class="back-link">Go Back</a>
        <a href="{% url 'add_day' event.id %}" class="back-link">Add New Date</a>
    </p>



    <h2 class="attendance_dashboard_h2">{{event.name}}</h2>




     <table class="table1">
        <thead>
            <tr>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for day in days %}
            <tr>
                <td>{{day.date}}</td>
                <td>
                    <a href="{% url 'attendance_for_today' day.id %}" class="view-btn">View</a>
                    <a href="{% url 'delete_day' day.id %}" class="view-btn">Remove</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No dates for this event</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock content %}
