{% extends "attendance_app/control_panel.html" %}

{% block content %}
    <p><a href="{% url 'events' %}"><- Go Back</a></p>

    <p><a href="{% url 'add_day' event.id %}">Add Day</a></p>

    <h2>Attendance:{{event.name}}</h2>

    <ul>
        {% for day in days%}
        <li>
            <p>
                {{day.date}} | <a href="{% url 'attendance_for_today' day.id %}">View</a>
            </p>
        </li>
        {% empty %}
        <li>No dates for this event</li>
        {% endfor %}
    </ul>


{% endblock content %}
