<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attendance System</title>
</head>
<body>
      {% for message in messages %}
      <h4>{{ message }}</h4>
      {% endfor %}
      <form action="control_panel/" method="post">
      {% csrf_token %}
          <input type="text" name="admin" id="admin" required>
          <br>
          <input type="password" name="password" id="password" required>
          <br>

          <button type="submit">Login</button>
      </form>
</body>
</html>