<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'attendance_app/css/style.css' %}">
</head>
<body>

    <div class="wrapper">
        
        <header>
            <h3 class="font-family-overall">Attendance System</h3>
        </header>

        <div class="container">
            <img class="logo" src="{% static 'attendance_app/img/essu_logo.png' %}">
            <h1 class="font-header font-family-overall">Login</h1>
            <form action="{% url 'attendance_app:control_panel' %}" method="post" class="form1">

                {% csrf_token %}

                    <input type="text" id="username" name="username" required class="input-field font-family-overall" placeholder="Enter Username">
                    <br>
                    <input type="password" id="password" name="password" required class="input-field font-family-overall" placeholder="Enter Password">
                    <br>

                    <button type="submit" class="login-btn font-family-overall">LOGIN</button>

            </form>
            <i><a href="{% url 'attendance_app:signup' %}" class="font-family-overall">Create an account</a></i>
            
        </div>
        <footer class="footer2 font-family-overall">
            <p>&copy; 2024 ESSU Attendance System. All Rights Reserved.</p>
        </footer>
    </div>

</body>
</html>
