<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'attendance_app/css/style.css' %}">
</head>
<body>

    <div class="wrapper">

        <div class="container">
            <div class="center-box">
                <!--  <img class="logo" src="{% static 'attendance_app/img/essu_logo.png' %}">  -->
                  
                <h1 class="logo-font">EAC</h1>
                <form action="{% url 'attendance_app:control_panel' %}" method="post" class="form1">

                    {% csrf_token %}

                        <label for="username" class="label">Username</label>
                        <input type="text" id="username" name="username" required class="input-field">
                        <label for="password" class="label">Password</label>
                        <input type="password" id="password" name="password" required class="input-field">
                        <button type="submit" class="login-btn font-family-overall">
                            <span>Log In</span>
                        </button>

                </form>

                <hr style="border: 1px solid white; opacity: 0.16; width: 100%;">

                <button class="create-acc-btn" onclick="window.location.href='{% url 'attendance_app:signup' %}';">
                    <span>Create an account</span>
                </button>
            </div>
        </div>

        <!--
        <footer>
            <p>&copy; 2024 ESSU Attendance System. All Rights Reserved.</p>
        </footer>-->

    </div>

</body>
</html>
