<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'attendance_app/css/style.css' %}">
</head>
<body>

    <div class="wrapper">
        
        <header>
            <h3>Attendance System</h3>
        </header>

        <div class="container">
            <img class="logo" src="{% static 'attendance_app/img/essu_logo.png' %}">
            <h1 class="font-header font-family-overall">Create account</h1>
            <form action="{% url 'attendance_app:signup' %}" method="post" class="form1">

                {% csrf_token %}

                    <input type="text" id="username" name="username" required class="input-field" placeholder="Your Username">
                    <br>
                    <input type="email" id="email" name="email" required class="input-field" placeholder="Your Email">
                    <br>
                    <input type="password" id="password" name="password" required class="input-field" placeholder="Your Password">
                    <br>
                    <input type="password" id="password2" name="password2" required class="input-field" placeholder="Confirm Password">
                    <br>

                    <button type="submit" class="login-btn font-family-overall">CREATE</button>

            </form>
            <i><a href="{% url 'attendance_app:index' %}" class="font-family-overall">Login</a></i>
        </div>

        <footer class="footer2">
            <p>&copy; 2024 ESSU Attendance System. All Rights Reserved.</p>
        </footer>
    </div>

</body>
</html>
