{% extends "attendance_app/control_panel.html" %}

{% block content %}
    <h2 class="attendance_dashboard_h2">Students</h2>

    <p>
        <a href="{% url 'student_app:add_student' %}" class="back-link">Add a Student</a>
        <a href="{% url 'student_app:upload_file' %}" class="back-link">Add from a file</a>
    </p>
    <table class="table1">
        <thead>
            <tr>
                <th>Card UID</th>
                <th>Student ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
             {% for student in students %}
             <tr>
                 <td>{{student.card_uid}}</td>
                 <td>{{ student.student_id}}</td>
                 <td>{{ student.last_name}}</td>
                 <td>{{ student.first_name}}</td>
                 <td>{{ student.middle_name}}</td>
                 <td>
                     <a href="{% url 'student_app:student_attendance' student.id %}" class="view-btn">Logs</a>
                     <a href="{% url 'student_app:delete_student' student.id %}" class="view-btn">Remove</a>
                 </td>
             </tr>
             {% empty %}
             <tr>
                 <td colspan="6">No Students</td>
             </tr>
             {% endfor %}
        </tbody>
    </table>

{% endblock content %}
