{% extends "attendance_app/control_panel.html" %}

{% block content %}
    <h2 class="attendance_dashboard_h2 font-family-overall">Students</h2>

    <p>
        <button id="openModalBtn" class="back-link">Add New Student</button>
        <button id="openModalBtn1" class="back-link">Upload from File</button>
    </p>
    <div id="attendanceModal" class="modal" style="display: none;">
        <div class="modal-content">
          <span id="closeModalBtn" class="close">&times;</span>
          <h2 style="text-align: center;" class="font-family-overall">New Student</h2>
          <form method="post" action="{% url 'student_app:add_student' %}" class="form-container">
            <label for="card_uid">Card UID</label>
            <input type="text" id="card_uid" name="card_uid" required />
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">ADD</button>
          </form>
        </div>
    </div>

    <div id="attendanceModal1" class="modal" style="display: none;">
        <div class="modal-content">
          <span id="closeModalBtn1" class="close">&times;</span>
          <h2 style="text-align:center" class="font-family-overall">Upload from File</h2>
          <form method="post" enctype="multipart/form-data" class="form-container" action="{% url 'student_app:upload_file' %}">
            {% csrf_token %}
            {{ form1.as_p }}
            <button type="submit">UPLOAD</button>
            </form>
        </div>
    </div>

    <table class="table1">
        <thead>
            <tr>
                <th>Card UID</th>
                <th>Student ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
             {% for student in students %}
             <tr>
                 <td>{{student.card_uid}}</td>
                 <td>{{ student.student_id}}</td>
                 <td>{{ student.last_name}}</td>
                 <td>{{ student.first_name}}</td>
                 <td>{{ student.middle_name}}</td>
                 <td>
                     <a href="{% url 'student_app:student_attendance' student.id %}" class="view-btn" style="font-size:17px">
                        <i class="fa fa-eye" style="font-size:18px"></i>
                     </a>
                     <a href="{% url 'student_app:delete_student' student.id %}" class="red-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                     </a>
                 </td>
             </tr>
             {% empty %}
             <tr>
                 <td colspan="6">No Students</td>
             </tr>
             {% endfor %}
        </tbody>
    </table>
    {% load static %}
    <script src="{% static 'attendance_app/js/modal.js' %}"></script>
    <script>
        // This function will be triggered by the ESP32 when a card is scanned
        function updateCardUID(cardUID) {
            // Update the input field with the card UID
            if(cardUID=="Error"){
                document.getElementById('card_uid').placeholder = "Scan ID";
            }else{
                document.getElementById('card_uid').value = cardUID;
            }
            
        }

        // Optionally, use setInterval or a WebSocket to listen for updates from the ESP32
        setInterval(() => {
            fetch('/get_card_uid') // Replace with your actual endpoint
                .then(response => response.json())
                .then(data => {
                    if (data.card_uid) {
                        updateCardUID(data.card_uid);
                    }
                })
                .catch(error => console.error('Error fetching card UID:', error));
        }, 3000); 

    </script>

{% endblock content %}
