{% extends "attendance_app/control_panel.html" %}

{% block content %}
    <p><a href="{%url 'student_app:students' %}" class="back-link">Go back</a></p>
    <h4 class="all_logs_h4">Student: {{student.last_name}}, {{student.first_name}}, {{student.middle_name}}</h4>
    <!-- <button class="refresh-button" onclick="location.reload()"><i class="fa fa-refresh" style="font-size:36px;"></i></button> -->
    <table id="studentAttTable" class="table1">
        <thead>
            <tr>
                <th data-title="Date">Date</th>
                <th  data-title="Event">Event</th>
            </tr>
        </thead>
        <tbody>
            {% for attendance in attendances %}
            <tr>
                <td data-title="Date">{{attendance.date_attended}}</td>
                <td data-title="Event">{{attendance.event.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% load static  %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

    <!-- Initialize DataTable -->
    <script>
        $(document).ready(function() {
            $('#studentAttTable').DataTable({
                paging: true, // Enable pagination
                searching: true, // Enable search bar
                ordering: true, // Enable column sorting
                pageLength: 10, // Set number of rows per page
                lengthMenu: [5, 10, 25, 50], // Define page length options
            });
        });
    </script>

{% endblock content %}
