
/* Table Design */
.content-table {
    font-size: 13px;
    border-collapse: collapse;
    margin: 0;
    min-width: 80vw;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
}

.content-table tr {
    padding: .45em;
}

.content-table th {
    width: 130px;
    background-color: #31511E;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table tr:nth-child(n+11) { 
    display: none;
}

.content-table th,
.content-table td {
    padding: 1em;
    font-weight: normal;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: color 0.3s ease, background 0.3s ease;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #31511E;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #31511E;
}

.content-table tbody tr:hover {
    background-color: #cfcfcff5;
    transition: color 0.3s ease, background 0.3s ease;
}

@media (max-width: 1280px) {
    .content-table {
        min-width: 70vw;
    }}

@media (max-width: 760px) {
    .content-table  {
        border: 2px solid #31511E;
        min-width: 80vw;
        margin: 0;
    }
    .content-table thead tr {
        display: none;
        color: black;
    }
    .content-table tr {
        display: block;
    }
    .content-table th,
    .content-table tr {
        padding: .5em;
    }
    .content-table td {
        text-align: right;
        display: block;
    }
    .content-table td::before {
        content: attr(data-title) ": ";
        float: left;
    }
    .content-table td:last-child {
        justify-content: right;
        display: block;
    }
}